.navbar
  padding: 8px 0
  &-block 
    display: flex
    justify-content: space-between
    align-items: center
  &__info
    display: flex
    align-items: center
    text-align: right
  &__address
    display: flex
    flex-direction: column
    color: $text-color
    font-size: 13px
    font-weight: 400  
  &__button
    height: 49px
    margin-left: 30px  
    color: $text-color
    font-size: 13px
    +bold
  &__phone
    display: inline-block
    color: $text-color
    font-size: 20px
    text-decoration: none
    margin-top: 9px
    +bold
@media (max-width: 768px)
  .navbar
    &__contacts
      display: none
    &__button
      width: 137px
      height: 39px
      border-radius: 5px
      font-size: 10px
      padding: 0 
      margin-right: 7px
      margin-top: 8px
    &__logo
      width: 90px  
      margin-top: 9px
      margin-left: 6px
@media (max-width: 568px)
  .navbar 
    display: flex
    &__button 
      padding: 0
      color: #333333
      font-size: 10px
      font-weight: 400
      +bold
      